# Part 1: Ingest data

## Extract data from the source file

In [40]:
import pandas as pd

data = pd.read_csv("./source_data/Webstat_Export_20210609.csv", delimiter=";", header = None)

In [42]:
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,Titre :,Dollar australien (AUD),Lev bulgare (BGN),Real brésilien (BRL),Dollar canadien (CAD),Franc suisse (CHF),Yuan renminbi chinois (CNY),Livre chypriote (CYP),Couronne tchèque (CZK),Couronne danoise (DKK),...,Leu roumain (RON),Rouble russe (RUB),Couronne suédoise (SEK),Dollar de Singapour (SGD),Tolar slovène (SIT),Couronne slovaque (SKK),Baht thaïlandais (THB),Livre turque (TRY),Dollar des Etats-Unis (USD),Rand sud-africain (ZAR)
1,Code série :,EXR.D.AUD.EUR.SP00.A,EXR.D.BGN.EUR.SP00.A,EXR.D.BRL.EUR.SP00.A,EXR.D.CAD.EUR.SP00.A,EXR.D.CHF.EUR.SP00.A,EXR.D.CNY.EUR.SP00.A,EXR.D.CYP.EUR.SP00.A,EXR.D.CZK.EUR.SP00.A,EXR.D.DKK.EUR.SP00.A,...,EXR.D.RON.EUR.SP00.A,EXR.D.RUB.EUR.SP00.A,EXR.D.SEK.EUR.SP00.A,EXR.D.SGD.EUR.SP00.A,EXR.D.SIT.EUR.SP00.A,EXR.D.SKK.EUR.SP00.A,EXR.D.THB.EUR.SP00.A,EXR.D.TRY.EUR.SP00.A,EXR.D.USD.EUR.SP00.A,EXR.D.ZAR.EUR.SP00.A
2,Unité :,Dollar Australien (AUD),Lev Nouveau (BGN),Real Bresilien (BRL),Dollar Canadien (CAD),Franc Suisse (CHF),Yuan Ren Min Bi (CNY),Livre Cypriote (CYP),Couronne Tcheque (CZK),Couronne Danoise (DKK),...,Nouveau Ron (RON),Rouble Russe (RUB) (RUB),Couronne Suedoise (SEK),Dollar de Singapour (SGD),Tolar (SIT),Couronne Slovaque (SKK),Baht (THB),Nouvelle Livre Turque (TRY),Dollar des Etats-Unis (USD),Rand (ZAR)
3,Magnitude :,Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),...,Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0)
4,Méthode d'observation :,Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),...,Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A)
5,Source :,BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),...,BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0)
6,09/06/2021,"1,5731","1,9558","6,1345","1,4729","1,0913","7,7879",NaN,"25,377","7,4366",...,"4,9248","87,9491","10,0595","1,6133",NaN,NaN,38,"10,4651","1,2195","16,5303"
7,08/06/2021,"1,5718","1,9558","6,13","1,4706","1,0914","7,7938",NaN,"25,394","7,4364",...,"4,9238","88,2824","10,0755","1,612",NaN,NaN,"37,996","10,4666","1,2182","16,4593"
8,07/06/2021,"1,5678","1,9558","6,1389","1,4681","1,0934","7,7795",NaN,"25,4","7,4369",...,"4,9234","88,6023","10,0552","1,6093",NaN,NaN,"37,933","10,4902","1,2162","16,3923"
9,06/06/2021,-,-,-,-,-,-,NaN,-,-,...,-,-,-,-,NaN,NaN,-,-,-,-

In [43]:
data.shape

(8199, 40)

## Data transformation

In [44]:
new_columns = ["Metrics_Dates"]+[curr.split(".")[2] for curr in data.iloc[1][1:]]
data.columns = new_columns

In [45]:
from datetime import datetime

data["Metrics_Dates"][6:] = data["Metrics_Dates"][6:].apply(lambda x : datetime.strptime(x, "%d/%m/%Y").date())

In [46]:
data.tail(5)

,Metrics_Dates,AUD,BGN,BRL,CAD,CHF,CNY,CYP,CZK,DKK,...,RON,RUB,SEK,SGD,SIT,SKK,THB,TRY,USD,ZAR
8194,1999-01-08,"1,8406",NaN,NaN,"1,7643","1,6138",NaN,"0,58187","34,938","7,4433",...,"1,3143","27,2075","9,165","1,9537","188,84","42,56","42,559","0,3718","1,1659","6,7855"
8195,1999-01-07,"1,8474",NaN,NaN,"1,7602","1,6165",NaN,"0,58187","34,886","7,4431",...,"1,3092","26,9876","9,18","1,9436","188,8","42,765","42,1678","0,3701","1,1632","6,8283"
8196,1999-01-06,"1,882",NaN,NaN,"1,7711","1,6116",NaN,"0,582","34,85","7,4452",...,"1,3168","27,4315","9,305","1,9699","188,7","42,778","42,6949","0,3722","1,1743","6,7307"
8197,1999-01-05,"1,8944",NaN,NaN,"1,7965","1,6123",NaN,"0,5823","34,917","7,4495",...,"1,3168","26,5876","9,4025","1,9655","188,775","42,848","42,5048","0,3728","1,179","6,7975"
8198,1999-01-04,"1,91",NaN,NaN,"1,8004","1,6168",NaN,"0,58231","35,107","7,4501",...,"1,3111","25,2875","9,4696","1,9554","189,045","42,991","42,6799","0,3723","1,1789","6,9358"

# Part 2: Store the raw_data into a database

## Upload raw_data to BigQuery for reference

## BigQuery Dataset name = "blablacar"

In [47]:
import pandas_gbq

In [48]:
project_id = "data-integration-316423"
dataset_id = "blablacar"
table_id = "raw_data"

In [49]:

pandas_gbq.to_gbq(data, f"{dataset_id}.{table_id}", project_id=project_id, if_exists= 'replace')

# Part 3: Create a table named dim_currency

This table can be created through two ways of data engineering: 

    A. Transformation of the raw_data and upload the data directly to a new table in BigQuery
    B. Create a new table in BigQuery. Then, query the table "raw_data" from the database (dataset) of BigQuery by date and update on a daily basis
    
The second way is preferred to create the scheduling task in Airflow.

Before we proceed to further steps, data cleaning is performed: replacing nan and non-float values in euro_values for all currencies.

## Data Cleaning

Check if the date column has nan values

In [51]:
data["Metrics_Dates"][6:].isnull().values.any()

False

It is observed that the non-float values in euro_values are 'nan' and '-'. So we replace them by "1.00". A better and more realistic improvisation would be to choose the last date with a float value in the dataframe. For example, the euro_value of "AUD" on "2021-06-05" does not appear on the dataframe (actually, '-'). So, an algorithm could search the nearest date in the past with a (float) euro-value, say "2021-06-04" and assign (1,5804) the value to "2021-06-05."

In [52]:
data = data.fillna("-")

In [53]:
data = data.replace("-", "1.00")

In [55]:
for col in data.columns[1:]:
    
    try:
        data[col][6:] = data[col][6:].apply(lambda x: float(str(x).replace(",", ".")))
    except:
        data[col][6:] = data[col][6:].apply(lambda x: str(x).replace(",", "."))

In [57]:
data.tail(10)

,Metrics_Dates,AUD,BGN,BRL,CAD,CHF,CNY,CYP,CZK,DKK,...,RON,RUB,SEK,SGD,SIT,SKK,THB,TRY,USD,ZAR
8189,1999-01-13,1.862,1.0,1.0,1.8123,1.5931,1.0,0.5819,36.113,7.4432,...,1.3149,26.4489,9.14,1.9815,191.2016,42.794,43.4924,0.3764,1.1744,7.2543
8190,1999-01-12,1.809,1.0,1.0,1.7392,1.6072,1.0,0.5814,35.25,7.443,...,1.2912,26.6366,9.0955,1.9343,189.5352,42.49,41.985,0.3721,1.152,6.9581
8191,1999-01-11,1.8134,1.0,1.0,1.7463,1.6104,1.0,0.58167,35.173,7.4433,...,1.298,27.0148,9.0985,1.9358,188.9655,42.509,41.9568,0.3725,1.1569,6.791
8192,1999-01-10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8193,1999-01-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8194,1999-01-08,1.8406,1.0,1.0,1.7643,1.6138,1.0,0.58187,34.938,7.4433,...,1.3143,27.2075,9.165,1.9537,188.84,42.56,42.559,0.3718,1.1659,6.7855
8195,1999-01-07,1.8474,1.0,1.0,1.7602,1.6165,1.0,0.58187,34.886,7.4431,...,1.3092,26.9876,9.18,1.9436,188.8,42.765,42.1678,0.3701,1.1632,6.8283
8196,1999-01-06,1.882,1.0,1.0,1.7711,1.6116,1.0,0.582,34.85,7.4452,...,1.3168,27.4315,9.305,1.9699,188.7,42.778,42.6949,0.3722,1.1743,6.7307
8197,1999-01-05,1.8944,1.0,1.0,1.7965,1.6123,1.0,0.5823,34.917,7.4495,...,1.3168,26.5876,9.4025,1.9655,188.775,42.848,42.5048,0.3728,1.179,6.7975
8198,1999-01-04,1.91,1.0,1.0,1.8004,1.6168,1.0,0.58231,35.107,7.4501,...,1.3111,25.2875,9.4696,1.9554,189.045,42.991,42.6799,0.3723,1.1789,6.9358

## Part 3A

In [58]:
currency_code_values = pd.Series(data.columns[1:])
serial_codes = data.iloc[1][1:]
euro_values = [data[serial][6:] for serial in data.columns[1:]]

In [69]:
dim_currency_df = pd.DataFrame()

In [70]:

for frames in range(len(currency_code_values)):

    tmp_df = pd.DataFrame(
        {
            "curr_code": currency_code_values[frames],
            "one_euro_value": euro_values[frames],
            "last_updated_date": data["Metrics_Dates"][6:],
            "Serial_code": serial_codes[frames],
        }
    )
    dim_currency_df = pd.concat([dim_currency_df, tmp_df], ignore_index= True)

In [71]:
dim_currency_df.shape

(319527, 4)

In [91]:
dim_currency_df.head()

  curr_code one_euro_value last_updated_date           Serial_code
0       AUD         1.5731        2021-06-09  EXR.D.AUD.EUR.SP00.A
1       AUD         1.5718        2021-06-08  EXR.D.AUD.EUR.SP00.A
2       AUD         1.5678        2021-06-07  EXR.D.AUD.EUR.SP00.A
3       AUD            1.0        2021-06-06  EXR.D.AUD.EUR.SP00.A
4       AUD            1.0        2021-06-05  EXR.D.AUD.EUR.SP00.A

# Upload dim_currency to BigQuery

In [72]:
dim_currency_table_id = "dim_currency"
pandas_gbq.to_gbq(dim_currency_df, f"{dataset_id}.{dim_currency_table_id}", project_id= project_id, if_exists= 'replace')

## Part 3B

## Query BigQuery with pandas_gbq

The list of euro_values for all currencies for a date could be collected as follows:

In [88]:
(project_id, dataset_id, table_id)

('data-integration-316423', 'blablacar', 'raw_data')

In [89]:
sql="""
    SELECT 
        *
    FROM 
        `{0}.{1}.{2}` 
    WHERE
        Metrics_Dates = "2007-03-20"
    """.format(project_id, dataset_id, table_id)

new_df = pandas_gbq.read_gbq(sql, project_id=project_id)

/Users/sanjeetmaisnam/PycharmProjects/airflow_dev/airflow_venv/lib/python3.7/site-packages/google/cloud/bigquery/table.py:1855: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  create_bqstorage_client=create_bqstorage_client,

In [90]:
new_df

,Metrics_Dates,AUD,BGN,BRL,CAD,CHF,CNY,CYP,CZK,DKK,...,RON,RUB,SEK,SGD,SIT,SKK,THB,TRY,USD,ZAR
0,2007-03-20,"1,662","1,9558","2,757","1,5522","1,6123","10,2878","0,58","27,808","7,4482",...,"3,338","34,627","9,3019","2,0299",None,"33,234","43,677","1,855","1,3296","9,81"

Then, an iteration over all the dates generate the euro_values for all the dates. This could be restructured to a daily DAG task of Airflow

Following is the format of a function for an Airflow DAG task:

In [81]:
#not to be run here

def get_dim_currency():
    
    sql="""
    SELECT 
        *
    FROM 
        `{0}.{1}.{2}` 
    WHERE
        Metrics_Dates = {{ ds_nodash}}
    """.format(project_id, dataset_id, table_id)

    new_df = pandas_gbq.read_gbq(sql, project_id=project_id)

    return new_df.iloc[1:]

Note here that the retrieve data is the raw data. Hence, it has to go through cleaning and transformation like before. Thereafter, the clean data would be appended to the table "dim_currency" in the BigQuery dataset.

# Part 4: Create a table named fact_exchange_rate_history

This table is generated from the table (dataframe) dim_currency

In [97]:
dates = dim_currency_df["last_updated_date"].unique()
currency_codes = dim_currency_df["curr_code"].unique()

In [92]:
#function to generate euro value of currencies for a date

def generate_curr_euro_value_by_date(date):
    
    curr_from = dict.fromkeys(currency_codes, None)
    
    for key, value in curr_from.items():

        curr_from[key] = dim_currency_df[(dim_currency_df["last_updated_date"] == date) 
                                         & (dim_currency_df["curr_code"] == key)]["one_euro_value"].to_list()[0]

    return curr_from

In [99]:
#function for exchange rate for one currency for a date
def exchange_rate_one_curr(base_curr, curr_euro_value_dict):
    result = {}
    for key, val in curr_euro_value_dict.items():
        if key != base_curr:
            result[key] = curr_euro_value_dict[base_curr]/val
    return result

## Upload the dataframe in batches by date (daily task)

In [94]:
table_name = "fact_exchange_rate_history"

Let's see the table after one iteration over dates

In [95]:
dummy = 0 
df_after_first_date_iter = pd.DataFrame()

In [102]:
#loop over dates
for date in dates: 

    
    t_df = pd.DataFrame()
    
    #generate the euro value of currencies for each date
    currencies_euro_value = generate_curr_euro_value_by_date(date)
     
    
    # exchange rates between the currencies for a date
    for key, value in currencies_euro_value.items():
        
    
        tm_df = pd.DataFrame(
                {
                    "history_date": date,
                    "from_cur_code": key,
                    "to_cur_code": pd.Series(exchange_rate_one_curr(key, currencies_euro_value).keys()),
                    "exchange_rate": pd.Series(exchange_rate_one_curr(key, currencies_euro_value).values()),
                }
            )
        
        t_df = pd.concat([t_df, tm_df], ignore_index= True)
    
    ##======= not part of the algorithm: from here==========
    dummy +=1
    if dummy ==1:
        df_after_first_date_iter = t_df
    ##======= not part of the algorithm: to here==========
    
    #append the exchange table for a date to the BigQuery table    
    pandas_gbq.to_gbq(t_df, f"{dataset_id}.{table_name}", project_id=project_id, if_exists= 'append')

KeyboardInterrupt:

In [103]:
df_after_first_date_iter

     history_date from_cur_code to_cur_code  exchange_rate
0      2021-06-09           AUD         BGN       0.804326
1      2021-06-09           AUD         BRL       0.256435
2      2021-06-09           AUD         CAD       1.068029
3      2021-06-09           AUD         CHF       1.441492
4      2021-06-09           AUD         CNY       0.201993
...           ...           ...         ...            ...
1477   2021-06-09           ZAR         SIT      16.530300
1478   2021-06-09           ZAR         SKK      16.530300
1479   2021-06-09           ZAR         THB       0.435008
1480   2021-06-09           ZAR         TRY       1.579564
1481   2021-06-09           ZAR         USD      13.554982

[1482 rows x 4 columns]